
.landing-page-box{
	opacity:0.85;
	transition:0.6s;
}

.landing-page-box:hover{
	opacity:initial;
	transform: scale(0.98);
}

#nav-mobile li a.red-text:hover{
	background-color: #F44336 !important;
	color:white !important;
}

.remove-bot-margin{
	margin-bottom:0px !important;
}