
.landing-page-box{
	opacity:0.9;
	transition:0.4s;
}

.landing-page-box:hover{
	opacity:initial;
}

#nav-mobile li a.red-text:hover{
	background-color: #F44336 !important;
	color:white !important;
}

.landing-page-title{
	transition:0.4s;
	padding:20px;
}

.landing-page-title:hover{
	width:40% !important;
	margin-bottom:40px;
}

.remove-bot-margin{
	margin-bottom:0px !important;
}